<div class="row">
    <div class="box">
        <div class="col-12 d-flex justify-content-center">
            <div class="row">
                <template id="movieProfile-block">
                    <div class="col-4">
                        <img class="posterSize" src="{{poster}}" alt="Movie Poster">
                        </div>
                        <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                            <p class="">{{title}}</p>
                            </div>
                            <div class="col-12">
                            <p class="fullFormLite">({{year}})</p>
                            </div>
                            <div class="col-6">
                            <p class="fullFormLite">{{rating}}</p>
                            </div>
                            <div class="col-6">
                            <p class="fullFormLite">{{genre}}</p>
                            </div>
                            <div class="col-12">
                            <p class="fullFormLite">{{plot}}</p>
                            </div>
                            <div class="col-12">
                                <button type="button" class="fullForm btn btn-secondary reviews" id="{{imdbId}}"
                                    name={{title}}>Write A
                                    Review</button>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>