<div class="row">
    <div class="box">
        <div class="col-12 d-flex justify-content-center">
            <div class="row">
                <div id="movie-block">
                    <div class="col-4">
                        <img class="posterSize" src="{{Poster}}" alt="Movie Poster">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                            <p class="">{{Title}}</p>
                            </div>
                            <div class="col-12">
                            <p class="fullFormLite">({{Year}})</p>
                            </div>
                            <div class="col-6">
                            <p class="fullFormLite">{{Rating}}</p>
                            </div>
                            <div class="col-6">
                            <p class="fullFormLite">{{Genre}}</p>
                            </div>
                            <div class="col-12">
                            <p class="fullFormLite">{{Plot}}</p>
                            </div>
                            <div class="col-6">
                                <button type="button" class="fullForm btn btn-primary watchlist" id="{{imdbID}}"
                                    name={{Title}}>Watch
                                    List</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="fullForm btn btn-secondary reviews" id="{{imdbID}}"
                                    name={{Title}}>Write A
                                    Review</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>