<div class="row">
    <div class="box">
        <div class="col-12 d-flex justify-content-center">
            <div class="row">
                <div id="viewAllofThisUsersReviews-block">
                    <div class="col-4">
                        <img class="posterSize" src="{{data.Poster}}" alt="Movie Poster">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                            <p class="">{{data.Title}}</p>
                            </div>
                            <div class="col-12">
                            <p class="fullFormLite">({{data.Year}})</p>
                            </div>
                            <div class="col-6">
                            <p class="fullFormLite">{{data.Rated}}</p>
                            </div>
                            <div class="col-6">
                            <p class="fullFormLite">{{data.Genre}}</p>
                            </div>
                        </div>
                    </div>
                    {{#if review}}<div class="col-12">
                        <p class="fullFormLite">{{review}}</p>
                    </div>{{/if}}
                </div>
            </div>
        </div>
    </div>
</div>