<!-- VIEW INDIVIDUAL MEMBERS REVIEWS PAGE content to go IN THE {{{ body }}} -->
<!-- ///////// Page Tile Row ////////////// -->
<div class="row">
    <div class="col-12 d-flex justify-content-center">
         <h4>USERMOVIE ID: {{id}}</h4>
         <h4>WATCHED BOOLEAN: {{watched}}</h4>
         <h4>REVIEW:   {{review}}</h4>
         <h4>MOVIE ID: {{movieID}}</h4>
         <h4>USER ID: {{userID}}</h4>

    </div>
</div>

<!-- ///////// START OF Single Column Content ////////////// -->
<div class="row">
    <div class="col-12">
          <!-- Render all this.user's reviews  -->
    </div>
</div>
