<div id="details">
    <div class="row">
        <div class="col-6">
            <p style="font-weight: bold;">{{data.Title}}</p>
            <img class="posterSize" src="{{data.Poster}}" alt="Movie Poster" style="width:75px;">
            <p>({{data.Year}})</p>
        </div>
        <div class="col-6">
            
            <p>{{data.Genre}} | Rated: {{data.Rated}}</p>
            <br>
            <br>
            <button type="button" class="btn reviews" id="{{data.imdbID}}" name="{{data.Title}}">Seen it!</button>
        </div>
    </div>
</div>
<br>